html {
  cursor: none !important;
}

:root {
  --text: #6b6375;
  --bg: #000;
  font-family: system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  cursor: none !important;
}

*:hover,
*:active,
*:focus,
*:focus-visible {
  cursor: none !important;
}

input,
textarea,
button,
select,
a,
[role="button"],
[onclick],
[onmousedown],
[onmouseup] {
  cursor: none !important;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:active,
select:hover,
a:hover,
[role="button"]:hover,
[onclick]:hover,
[onmousedown]:hover,
[onmouseup]:hover {
  cursor: none !important;
}

body {
  margin: 0;
  background: var(--bg);
  overflow: hidden;
  cursor: none !important;
}

#root {
  z-index: 1;
}