:root {
  --text: #6b6375;
  --bg: #000;
  font-family: system-ui, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: var(--bg);
  overflow: hidden;
  cursor: none;
}

#root {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}