html,
body {
  cursor: none !important;
  height: auto;
  overflow-y: auto;
}

:root {
  --text: #6b6375;
  --bg: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  cursor: none !important;
}

*:hover,
*:active,
*:focus,
*:focus-visible {
  cursor: none !important;
}

input,
textarea,
button,
select,
a,
[role="button"],
[onclick],
[onmousedown],
[onmouseup] {
  cursor: none !important;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus,
button:hover,
button:active,
select:hover,
a:hover,
[role="button"]:hover,
[onclick]:hover,
[onmousedown]:hover,
[onmouseup]:hover {
  cursor: none !important;
}

body {
  margin: 0;
  background: var(--bg);
  cursor: none !important;

  font-family: "Chelsea Market", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
  letter-spacing: 0.08em;
}

#root {
  z-index: 1;
}

.custom-cursor {
  user-select: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;

  /* removes weird click flash on some browsers */
  -webkit-tap-highlight-color: transparent;
}

img {
  -webkit-user-drag: none;

  user-select: none;
  -webkit-user-select: none;
}