:root {
  --button-size: 2vw;
  --button-gap: 4vw;
  --row-gap: 4vw;
}

.button-grid {
  position: fixed;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  gap: var(--row-gap);
  align-items: center;
  padding: 0 1rem;
}

/* rows */
.button-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: var(--button-gap);
}

/* slots */
.button-row > * {
  width: var(--button-size);
  height: var(--button-size);
}

@media (max-width: 720px) {
  .button-grid {
    top: 32%;
    gap: 3rem;
  }

  .button-row {
    gap: 3vw;
  }
}

/* NORMAL ACTIVE DIM */
.button-grid:has(.active-button)
  .nav-button:not(.active-button) {
  opacity: 0.4;
  transform: scale(0.95);
  filter: grayscale(40%);
}

/* DRAG MODE (LOCKED STATE) */
.button-grid.dragging .nav-button {
  opacity: 0.3;
  transform: scale(0.9);
  filter: grayscale(60%);
}

.button-grid.dragging .nav-button.active-button {
  opacity: 1;
  transform: translateY(-1vw) scale(1.1);
  filter: none;
}