:root {
  --button-size: 9vw;
  --button-gap: 5vw;
  --row-gap: 3vw;
}

.button-grid {
  position: fixed;
  top: 33%;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  flex-direction: column;
  gap: var(--row-gap);
  align-items: center;
  padding: 0 1rem;
}

/* rows */
.button-row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  gap: var(--button-gap);
}

/* slots */
.button-row > * {
  width: var(--button-size);
  min-height: var(--button-size);
}

@media (max-width: 720px) {
  .button-grid {
    top: 32%;
    gap: 3rem;
  }

  .button-row {
    gap: 3vw;
  }
}

/* NORMAL ACTIVE DIM */
.button-grid:has(.active-icon)
  .icon-container:not(.active-icon) {
  opacity: 0.4;
  filter: grayscale(40%);
  transition: opacity 0.25s ease, filter 0.25s ease;
}

.button-grid:has(.active-icon)
  .icon-container:not(.active-icon) .icon-visual {
  transform: translateY(0) scale(0.95);
  transition: transform 0.25s ease;
}

.button-grid:has(.active-icon)
  .text-container:not(.active-text) {
  opacity: 0.4;
  transform: scale(0.95);
  filter: grayscale(40%);
  transition: opacity 0.25s ease, filter 0.25s ease, transform 0.25s ease;
}

/* DRAG MODE (LOCKED STATE) */
.button-grid.dragging .icon-container {
  opacity: 0.3;
  filter: grayscale(60%);
  transition: opacity 0.25s ease, filter 0.25s ease;
}

.button-grid.dragging .icon-container .icon-visual {
  transform: translateY(0) scale(0.95);
  transition: transform 0.25s ease;
}

.button-grid.dragging .text-container {
  opacity: 0.3;
  transform: scale(0.95);
  filter: grayscale(60%);
  transition: opacity 0.25s ease, filter 0.25s ease, transform 0.25s ease;
}

.button-grid.dragging .icon-container.active-icon {
  opacity: 1;
  filter: none;
  transition: opacity 0.25s ease, filter 0.25s ease;
}

.button-grid.dragging .icon-container.active-icon .icon-visual {
  transform: translateY(-1vw) scale(1.1);
  transition: transform 0.25s ease;
}