.volume-container {
  position: fixed;
  top: 40px;
  right: 40px;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ICON */
.volume-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;

  user-select: none;
  -webkit-user-drag: none;

  transition: transform 0.2s ease;
}

.volume-icon:hover {
  transform: scale(1.1);
}

/* SLIDER CONTAINER */
.volume-slider {
  margin-top: 0px;

  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.2s ease;

  pointer-events: none;

  padding: 10px;
}

.volume-slider.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

/* TRACK WRAPPER */
.slider-track {
  position: relative;
  width: 40px;
  height: 220px;

  display: flex;
  justify-content: center;

  cursor: pointer;
}

/* TRACK IMAGE */
.slider-track-img {
  position: absolute;
  height: 100%;
  width: auto;

  pointer-events: none;
  user-select: none;
}

/* THUMB */
.slider-thumb {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 80px;
  height: auto;

  pointer-events: auto;
  user-select: none;

  transition: transform 0.1s ease;
}

.slider-thumb:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.slider-thumb:active {
  transform: translate(-50%, -50%) scale(0.9);
}